@font-face {
    font-family: roboto;
    src: url(Roboto/Roboto-LightItalic.ttf);
}
* {
font-family: roboto;
margin: 0;

}
body {
    display: grid;
    grid-template-columns: 0.4fr 1.6fr ;
    grid-template-rows: 0.5fr 2fr;  
    height: 100vh;
    
}
img {
    width: 25px;
}
.dashboard-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bolder;
    color: #123456;
}
.dashboard-item:hover{
    cursor: pointer;
    color: whitesmoke;
}
.dashboard {
    font-size: 200%;
    align-self: start;
    font-family: 'Times New Roman', Times, serif;
}
.lists1, .lists2{
    align-self: start;
}
.dashboard>img {
    width: 40px;
}
.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: linear-gradient(#64748b,#94a3b8,#cbd5e1);
    justify-content: center;
    display: grid;
   grid-template-rows: 0.45fr 0.7fr 1fr;
}

.header{
    grid-column: 2/4;
    grid-row: 1/2;
    background-image: linear-gradient(#fca5a5,#fecaca,#fee2e2);
    display: grid;
    grid: 1fr 1fr/1fr;
}
.header-top{
    display: grid;
    grid: 1fr/4fr 1fr;
    padding: 10px 30px;
}
.header-low{
    display: grid;
    grid: 1fr/2fr 1fr;
    padding: 10px 30px;
}
.profile-signup>img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.profile-signup{
    display: flex;
    justify-content: flex-start;
    align-items: center;
      gap: 10px;  
      font-weight: bold;
}
.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
      gap: 5px;
}
input{
    width: 70%;
    height: 35px;
    border-radius: 20px;
    border: 1px none;
    background-color: lightsalmon;
}
.profile-name>img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.profile-name{
    display: flex;
  justify-content: flex-start;
  align-items: center;
    gap: 10px;
    font-weight: bolder;
}
button{
  width: 30%;
   height: 25px;
   border: 1px none;
   border-radius: 10px;
   background-color: grey;
   font-weight: bolder;
   font-size: medium;
   color: white;
}

.content{
    grid-column: 2/4;
    grid-row: 2;
    background-image: linear-gradient(#059669,#0891b2,#10b981,#22d3ee,#34d399);

}
